
# Compiled output
appTest17//dist
appTest17//tmp
appTest17//out-tsc
appTest17//bazel-out

# Node
appTest17//node_modules
appTest17/npm-debug.log
appTest17/yarn-error.log

# IDEs and editors
appTest17/.idea/
appTest17/.project
appTest17/.classpath
appTest17/.c9/
appTest17/*.launch
appTest17/.settings/
appTest17/*.sublime-workspace

# Visual Studio Code
appTest17/.vscode/*
appTest17/!.vscode/settings.json
appTest17/!.vscode/tasks.json
appTest17/!.vscode/launch.json
appTest17/!.vscode/extensions.json
appTest17/.history/*

# Miscellaneous
appTest17//.angular/cache
appTest17/.sass-cache/
appTest17//connect.lock
appTest17//coverage
appTest17//libpeerconnection.log
appTest17/testem.log
appTest17//typings

# System files
appTest17/.DS_Store
appTest17/Thumbs.db
