<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2" href="https://mdbgo.com/">
        <img
          src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
          height="16"
          alt="MDB Logo"
          loading="lazy"
          style="margin-top: -1px;"
        />
      </a>
  
      <!-- Toggle button -->
      <button
        data-mdb-collapse-init
        class="navbar-toggler"
        type="button"
        data-mdb-target="#navbarButtonsExample"
        aria-controls="navbarButtonsExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button type="button" class="btn btn-light"><span (click)="goHome()">Consulta</span> </button>

            <button type="button" class="btn btn-light viweActive"><span (click)="goManage()">Administración</span> </button>
          </li>
        </ul>
        <!-- Left links -->
  
        <div class="d-flex align-items-center">
          <button data-mdb-ripple-init type="button" class="btn btn-primary me-3" (click)="goRegister()">
            Agregar usuario
          </button>
          <!-- Avatar -->
            <div class="dropdown">
                <img
                  src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                  class="rounded-circle"
                  height="25"
                  alt="Black and White Portrait of a Man"
                  loading="lazy"
                />
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li><span class="dropdown-item" (click)="goCloseSession()">Cerrar sesión</span></li>
              </ul>
            </div>
            <a class="nav-link" href="#">&nbsp;&nbsp;{{usuario}}</a>
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Nombre</th>
        <th>Login</th>
        <th>Fecha alta</th>
        <th>Fecha vigencia</th>
        <th>Fecha revocado</th>
        <th>Estatus</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="
                let usuario of data;
                index as i
                "
            attr.id="usercard{{ usuario.id }}">
        <td>
          <div class="d-flex align-items-center">
            <img
                src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">{{ usuario.NOMBRE }}</p>
              <p class="text-muted mb-0">{{ usuario.EMAIL }}</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">{{ usuario.LOGIN }}</p>
          <!-- <p class="text-muted mb-0">IT department</p> -->
        </td>
        <td>
          <span>{{usuario.FECHAALTA}}</span>
        </td>
        <td>
          <span>{{usuario.FECHA_VIGENCIA}}</span>
        </td>
        <td>
          <span>{{usuario.FECHAREVOCADO}}</span>
        </td>
        <td>{{ usuario.STATUS }}</td>
        <td>
          <span class="btn btn-success btn-sm btn-rounded" 
            (click)="EditUser(usuario.LOGIN)">
            Editar
        </span>&nbsp; 
        <span class="btn btn-warning btn-sm btn-rounded"
            (click)="inactiveUser(usuario.LOGIN,usuario.NOMBRE)">
            inactivar
        </span>&nbsp; 
        <span class="btn btn-danger btn-sm btn-rounded"
            (click)="deleteUser(usuario.LOGIN,usuario.NOMBRE)">
            Eliminar
        </span>
        </td>
      </tr>
    </tbody>
  </table>