<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="https://mdbgo.com/">
      <img
        src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
        height="16"
        alt="MDB Logo"
        loading="lazy"
        style="margin-top: -1px;"
      />
    </a>

    <!-- Toggle button -->
    <button
      data-mdb-collapse-init
      class="navbar-toggler"
      type="button"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button type="button" class="btn btn-light"><span (click)="goHome()">Consulta</span> </button>

          <button type="button" class="btn btn-light viweActive"><span (click)="goManage()">Administración</span> </button>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <!-- Avatar -->
          <div class="dropdown">
              <img
                src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                class="rounded-circle"
                height="25"
                alt="Black and White Portrait of a Man"
                loading="lazy"
              />
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li><span class="dropdown-item" (click)="goCloseSession()">Cerrar sesión</span></li>
            </ul>
          </div>
          <a class="nav-link" href="#">&nbsp;&nbsp;{{usuario}}</a>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
  
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
            El mejor control <br />
            <span style="color: hsl(218, 81%, 75%)">para Acceso de usuarios</span>
          </h1>
          <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
            Nuestro enfoque de control de usuarios encriptados se basa en la última tecnología de cifrado, asegurando una capa adicional de protección contra accesos no autorizados. 
          </p>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
  
          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
              <form>
                <div class="row">
                    <div class="form-outline mb-4">
                        <input disabled type="text" id="formRegUsuario" class="form-control" [(ngModel)]="dataEdition.LOGIN" name="LOGIN"/>
                        <label class="form-label" for="formRegUsuario">Usuario</label>
                    </div>
                  <div class="form-outline mb-4">
                    <input type="text" id="formRegNombre" class="form-control" [(ngModel)]="dataEdition.NOMBRE" name="NOMBRE"/>
                    <label class="form-label" for="formRegNombre">Nombre</label>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example1" class="form-control" [(ngModel)]="dataEdition.APELLIDO_PATERNO" name="APELLIDO_PATERNO"/>
                      <label class="form-label" for="form3Example1">Apellido paterno</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example2" class="form-control" [(ngModel)]="dataEdition.APELLIDO_MATERNO" name="APELLIDO_MATERNO"/>
                      <label class="form-label" for="form3Example2">Apellido materno</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example3" class="form-control" [(ngModel)]="dataEdition.CLIENTE" name="CLIENTE"/>
                      <label class="form-label" for="form3Example3">Cliente</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="formEditFecAlta" class="datepicker form-control" data-date-format="yyyy-mm-dd" [(ngModel)]="dataEdition.FECHAALTA" name="FECHAALTA"/>
                      <label class="form-label" for="formEditFecAlta">Fecha de alta</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <!-- <input type="text" id="formRegStatus" class="form-control" />
                      <label class="form-label" for="formRegStatus">Estado activo</label> -->
                      <div class="select">
                        <select
                          name="select-estado"
                          [(ngModel)]="dataEdition.STATUS">
                          <option value="" disabled selected hidden>Estado</option>
                          <!-- <option [value]="item" *ngFor="let item of listaEstatus">
                            {{ item }}
                          </option> -->
                          <option value="A">
                            Activo
                          </option>
                          <option value="B">
                            Inactivo
                          </option>
                          <option value="R">
                            Revocado
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
  
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="form3Example4" class="form-control" [(ngModel)]="dataEdition.EMAIL" name="EMAIL"/>
                  <label class="form-label" for="form3Example4">Email</label>
                </div>
  
                <!-- Submit button -->
                <span class="btn btn-primary btn-block mb-4" (click)="prepareEdition()">
                  Actualizar
                </span>
                <!-- Submit button -->
                <span  class="btn btn-default btn-block mb-4" (click)="cancelEdit()">
                    Cancelar
                </span>
                <!-- {{dataEdition | json}} -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>